.cart-icon {
margin-left: 100px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #ebf3ff;
    
}

#projects {
    background-color: #ebf3ff;
}

section {
    padding-top: 5rem;
}

.galerry-img {
    width: 100%;

}

#galerry .row > * {
    padding: 0;
}

footer {
  margin-top: 5rem;
  background-color: white;
  color: #333;
  padding: 50px 0;
}

footer h4 {
  padding-top: 1rem;
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

footer p {
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.bottom-bar {
  background-color: #fff;
  padding: 10px 0;
  font-size: 14px;
}

.bottom-bar p {
  color: #333;
  margin: 0;
}

.cover {
width: 390px;
height: 140px;
}

.bottom-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom-bar ul li {
  display: inline-block;
  margin-right: 10px;
}

.bottom-bar ul li a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 767px) {
  footer {
    padding: 30px 0;
    
  }
  
  footer h4 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  footer p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  footer ul li a {
    font-size: 12px;
  }
  
  .bottom-bar {
    font-size:14px;
  }
  
  .bottom-bar p {
  text-align: center;
  margin-bottom: 10px;
  }
  
  .bottom-bar ul {
  text-align: center;
  }
  };
